.error {
  text-align: center;
  background: orange;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1;
  padding: 5px;
  margin: 10px auto;
  color: maroon;
  font-weight: bold;
}
